namespace Templates.DTOs.Entity
{
    // Plantilla de DTO de lectura
    public class EntityDTO
    {
        public string Id { get; set; } = string.Empty;
        public string Name { get; set; } = string.Empty;
        public string Description { get; set; } = string.Empty;
    }
}
