using System.Threading.Tasks;
using Templates.DTOs.Entity;

namespace Templates.Interfaces.UseCases
{
    public interface IGetEntityUseCase
    {
        Task<EntityDTO?> HandleAsync(string id);
    }
}
