using System.Threading.Tasks;
using Templates.DTOs.Entity;

namespace Templates.Interfaces.UseCases
{
    public interface IUpdateEntityUseCase
    {
        Task<EntityDTO?> HandleAsync(string id, UpdateEntityDTO dto);
    }
}
